@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #596275;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box2 {
    background-color: #303952;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 50px #202636;
}

#tempo {
    color: #596275;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 50px #202636;
}